@{
    ViewData["Title"] = "Home Page";
}

<div id="muJumbo" class="jumbotron">
    <h1>Jumbotron</h1>
    <p>Glyphicon welcomes you <span class="glyphicon glyphicon-thumbs-up"></span> <span class="glyphicon glyphicon-heart"></span></p>

    <div class="panel panel-default">
        <div class="panel-heading">List of stuff</div>
        <div class="panel-body">
            Hello there. My name is Paul and here is a list of sports that I like:
        </div>
        <ul class="list-group">
            <li class="list-group-item">Football</li>
            <li class="list-group-item">Cricket</li>
            <li class="list-group-item">Badminton</li>
            <li class="list-group-item">Darts (It is a sport!)</li>
        </ul>
    </div>

    <a href="http://getbootstrap.com/css/" class="btn btn-primary btn-lg">get bootstrap</a>

    <br />

</div>
<div class="col-md-4">
    <h2>Examples with labels</h2>
    <p>All is good with this label <span class="label label-default">Okay</span></p>
    <p>Here is a green label <span class="label label-success">Yay</span></p>
    <p>This is looking bad!! <span class="label label-danger">No</span></p>
</div>
<div class="col-md-4">
    <h2>Some blurb and buttons</h2>
    <p>Buttons are actually anchor tags with the btn btn-xyz class applied</p>
    <a href="www.bbc.co.uk" class="btn btn-default">Go to BBC</a>
</div>
<div class="col-md-4">
    <h2>Column 3</h2>
    <p>Blah blah blah. Clicking on the below may be dangerous!! argh...</p>
    <a href="www.bbc.co.uk" class="btn btn-danger">Go to BBC</a>
</div>