@{
    ViewData["Title"] = "Home Page";
}

<div id="muJumbo" class="jumbotron">
    <h1>Jumbotron</h1>

    <div class="panel panel-default">
        <div class="panel-heading">List of stuff</div>
        <div class="panel-body">
            Hello there. My name is Paul and here is a list of sports that I like:
        </div>
        <ul class="list-group">
            <li class="list-group-item">Football</li>
            <li class="list-group-item">Cricket</li>
            <li class="list-group-item">Badminton</li>
            <li class="list-group-item">Darts (It is a sport!)</li>
        </ul>
    </div>

    <p>This is a paragraph full of jumbotron text. All is good <span class="label label-default">Okay</span></p>
    <p>Something here is bad!! <span class="label label-danger">Noooo</span></p>
    <a href="http://getbootstrap.com/css/" class="btn btn-primary btn-lg">get bootstrap</a>
</div>